.parent {
    width: 200px;
    height: 200px;
    background-color: gray;
    border: 1px solid black;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.container>div {
    flex-basis: 20%;
    margin-top: 20px;
}